langchain
langchain-core
langchain-community
pymupdf
unstructured
unstructured[pdf]
python-docx
unstructured[xlsx]
openpyxl
xlrd
pandas
langchain-huggingface
sentence-transformers
pymilvus
langchain-milvus
langchain-groq
python-dotenv
streamlit
fastapi

spacy
en_core_web_sm-3.8.0-py3-none-any.whl





