langchain
langchain-core
langchain-community
pymupdf
unstructured
unstructured[pdf]
python-docx
unstructured[xlsx]
openpyxl
xlrd
pandas
langchain-huggingface
sentence-transformers
pymilvus
langchain-milvus
langchain-groq
python-dotenv
streamlit
fastapi

spacy




